.btn{
  &,
  &:link,
  &:visited{
    text-transform : uppercase;
    text-decoration: none;
    padding : 1.5rem 3rem;
    display: inline-block;
    border-radius: 10rem;
    font-weight: 700;
    /*transition : color, bgcolor,transeform...등으로 변형이 일어났을때 애니메이션 호과*/
    transition : all .2s; 
    position : relative;
    font-size: $default-font-size;
    border : none;
  }

  &:hover{
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black,.2);

    &::after{
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active{
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($color-black,.2);
  }

  &--white{
    background-color: $color-white;
    color : $color-grey-dark;

    &::after{
      background-color: $color-white;
    }
  }

  &--green{
    background-color: $color-primary;
    color : $color-white;

    &::after{
      background-color: $color-primary;
    }
  }

  &:after{
    content : "";
    display: inline-block;
    height: 100%;
    width : 100%;
    border-radius: 10rem;
    position: absolute;
    top : 0;
    left:0;
    z-index: -1;
    transition: all .2s;
  }

  &--animation{
    animation: moveToTop .5s ease-out .75s;
    animation-fill-mode: backwards;
  }

  
}

.btn-text{
  &:link,
  &:visited{
    font-size: $default-font-size;
    color : $color-primary;
    display: inline-block;
    text-decoration: underline;
    padding : 0.5rem;
    font-weight: 700;
    transition: all .2s;
    text-underline-offset: 1.5rem;
  }
 

  &:hover{
    background-color: $color-primary; 
    color : $color-white;
    text-decoration: none;
    transform: translateY(-0.3rem);
    box-shadow: 0 .5rem .5rem rgba($color-primary,.5);
  }

  &:active{
    transform: translateY(0rem);
    box-shadow: 0 .3rem .5rem rgba($color-primary,.5);
  }

  
}
